<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Análise Dentária</title>
</head>
<body>
<h1>Detalhes da Análise Dentária</h1>

<div>
    <p><strong>ID:</strong> <span th:text="${analiseDentaria.id}"></span></p>
    <p><strong>Usuário:</strong> <span th:text="${analiseDentaria.usuario.nome}"></span></p>
    <p><strong>Data da Análise:</strong> <span th:text="${analiseDentaria.dataAnalise}"></span></p>
    <p><strong>Probabilidade de Problema:</strong> <span th:text="${analiseDentaria.probabilidadeProblema}"></span></p>


    <p><strong>Dados de Monitoramento:</strong></p>
    <ul>
        <li th:each="dado : ${analiseDentaria.dadosMonitoramento}">
            <strong>Data de Registro:</strong> <span th:text="${#temporals.format(dado.dataRegistro, 'dd/MM/yyyy')}"></span>

            <ul>
                <li th:each="relato : ${dado.relatosProblemasDentarios}">
                    <strong>Relato:</strong> <span th:text="${relato.problema}"></span>
                </li>
            </ul>
        </li>
    </ul>




</div>

<a href="/analises-dentarias">Voltar para a lista</a>

</body>
</html>
