<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>GÊNERO</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.genero}"></td>
            </tr>
        </tbody>
    </table>

    <a href="/usuarios">Voltar para a lista</a>
</body>
</html>