<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Dado de Monitoramento</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h2>Detalhes do Dado de Monitoramento</h2>
<p><strong>ID do Dado de Monitoramento:</strong> <span th:text="${dadoMonitoramento.id}"></span></p>
<p><strong>ID do Usuário:</strong> <span th:text="${dadoMonitoramento.usuario.id}"></span></p>
<p><strong>Usuário:</strong> <span th:text="${dadoMonitoramento.usuario.nome}"></span></p>
<p><strong>Data de Registro:</strong> <span th:text="${#temporals.format(dadoMonitoramento.dataRegistro, 'dd/MM/yyyy HH:mm')}"></span></p>
<h3>Relatos de Problemas Dentários</h3>
<ul>
    <li th:each="relato : ${dadoMonitoramento.relatosProblemasDentarios}" th:text="${relato.problema}"></li>
</ul>

<a href="/dados-monitoramento">Voltar para a Lista</a>

</body>
</html>
