<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Histórico Dental</title>
</head>
<body>
<h1>Cadastrar Novo Histórico Dental</h1>
<form action="/historico/novo" method="post" th:object="${historicoDentalDTO}">
    <label for="condicaoDente">Condição do Dente:</label>
    <input type="text" id="condicaoDente" th:field="*{condicaoDente}" required>
    <br>
    <label for="dataConsulta">Data da Consulta:</label>
    <input type="date" id="dataConsulta" th:field="*{dataConsulta}" required>
    <br>

    <label for="usuario">Usuário:</label>
    <select id="usuario" th:field="*{usuarioId}" required>
        <option value="" disabled selected>Selecione um usuário</option>
        <option th:each="usuario : ${usuarios}"
                th:value="${usuario.id}"
                th:text="${usuario.nome}"></option>
    </select>
    <br>

    <br>
    <!-- Você pode adicionar outros campos aqui -->
    <button type="submit">Salvar</button>
</form>
</body>
</html>
