<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Análise Dentária</title>
</head>
<body>
<h1>Cadastro de Nova Análise Dentária</h1>

<form action="#" th:action="@{/analises-dentarias}" th:object="${analiseDentaria}" method="post">

    <!-- Campo Usuario -->
    <div>
        <label for="usuarioId">Usuário</label>
        <select id="usuarioId" th:field="*{usuarioId}" required>
            <option th:each="usuario : ${usuarios}"
                    th:value="${usuario.id}"
                    th:text="${usuario.nome}">Escolha o Usuário</option>
        </select>
    </div>

    <!-- Campo Probabilidade de Problema -->
    <div>
        <label for="probabilidadeProblema">Probabilidade do Problema (%)</label>
        <input type="number" id="probabilidadeProblema" th:field="*{probabilidadeProblema}" step="0.01" min="0" max="100" required />
        <small>Insira um valor de 0 a 100</small>
    </div>

    <!-- Campo Dados de Monitoramento -->
    <div>
        <label>Dados de Monitoramento</label>
        <div th:each="dado : ${dadosMonitoramento}">
            <input type="checkbox" th:field="*{dadosMonitoramentoIds}" th:value="${dado.id}" />
            <label th:text="${dado.dataRegistro}"></label>
        </div>
    </div>

    <br>

    <div>
        <button type="submit">Cadastrar Análise Dentária</button>
    </div>
</form>

<br>
<a href="/analises-dentarias">Voltar para a lista de análises dentárias</a>

</body>
</html>
