<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Oralytics</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
<div class="login-container">
    <h2>Oralytics - Login</h2>

    <div th:if="${param.error}" class="error">
        Usuário ou senha inválidos!
    </div>

    <div th:if="${param.logout}" class="logout-msg">
        Você saiu com sucesso!
    </div>

    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Email" required />
        <input type="password" name="password" placeholder="Senha" required />
        <button type="submit">Entrar</button>
    </form>

    <div class="signup-link">
        <a th:href="@{/usuarios/novo}">
            <button type="button">Cadastre-se</button>
        </a>
    </div>
</div>
</body>
</html>
